<template>
  <div class="appointment">
    <div class="container">
      <h2>Solicitar cita</h2>
      <form v-on:submit.prevent="processAppointment">
        <select name="specialty" v-model="specialty" placeholder="Specialidad">
          <option value="dermatologists">Dermatologia</option>
          <option value="general">General</option>
          <option value="oncologists">Oncologia</option>
        </select>
        <br />
        <input type="datetime-local" v-model="datetime" class="date" />
        <br />
        <button type="submit">Solicitar</button>
      </form>
    </div>
  </div>
</template>
<script>
import jwt_decode from "jwt-decode";
import axios from "axios";
import moment from "moment";
export default {
  name: "medicalAppointment",
  data: function () {
    return {
      medicalAppointment: {
        userId: 0,
        date: 0,
        docId: 1,
      },
      specialty: "",
      datetime: "",
    };
  },
  methods: {
    processAppointment: function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      if (this.specialty == "dermatologists") {
        this.medicalAppointment.docId = 2;
      } else if (this.specialty == "oncologists") {
        this.medicalAppointment.docId = 3;
      }
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();
      //alert(userId);
      this.medicalAppointment.userId = userId;
      var unixTime = moment(this.datetime, "YYYY-MM-DD hh:mm:ss a").unix();
      //alert(this.medicalAppointment.docId);
      this.medicalAppointment.date = unixTime;
      axios
        .post(
          "https://misionticapp1.herokuapp.com/medicalAppointment/",
          this.medicalAppointment,
          {
            headers: {},
          }
        )
        .then(() => {
          alert("se ha guardado su cita");
        })
        .catch((error) => {
          console.log(error);

          alert("ERROR: Fallo en el registro de la cita.");
        });
    },
  },
};
</script>
<style>
.appointment {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container form {
  width: 70%;
}
.container input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}
.container select {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}
.container button {
  width: 100%;
  height: 40px;
  color: #283747;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
  transition-property: color,border;
  transition-duration: .5s;
}
.container button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
  cursor: pointer;
}
</style>