<template>
  <div class="information">
    <h1>Mis citas <span>{{username}}</span></h1>
    <div v-for="appointment in myAppointments" v-bind:key="appointment.id">
      <p>{{appointment.date}}</p>
    </div>
  </div>
</template>
<script>
import jwt_decode from "jwt-decode";
import axios from "axios";
import moment from 'moment';
export default {
  name: "Account",

  data: function () {
    return {
      username: localStorage.getItem("username") || "none",
      myAppointments: [""]
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`https://misionticapp1.herokuapp.com/medicalAppointment/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          //console.log(JSON.stringify(result.data));
          //this.myAppointments = result.data;
          for (let i in result.data){
            //console.log(moment.unix(result.data[i].date).format("YYYY-MM-DD hh:mm:ss"));
            this.myAppointments.push(
              {
                "id": result.data[i].id,
                "usuario": result.data[i].usuario,
                "date": moment.unix(result.data[i].date).format("YYYY-MM-DD hh:mm:ss")
              }
            );
          }
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios
        .post(
          "http://127.0.0.1:8000/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>
<style>
.information {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h1 {
  font-size: 60px;
  color: #0f1316;
}
.information h2 {
  font-size: 40px;
  color: #283747;
}
.information span {
  color: crimson;
  font-weight: bold;
}
</style>