* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #09794a;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 320px;
  height: 350px;
  background: #fff;
  box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}
.container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.container input:focus {
  border: 3px solid #555;
}
.container button {
  border-radius: 8px;
  background-color: #09794a;
  margin: 8px 0;
  padding: 12px 20px;
}
