<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <form action="/login/" method="POST">
        <div class="container">
          <input type="text" placeholder="Username" name="username" required/>
          <input type="password" placeholder="password" name="password" required/>
          <button type="submit">Login</button>
        </div>
    </form>
    
</body>
</html>
